<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Chat</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'chat.channel.list' %}" class="pure-menu-link">
      <i class="fa fa-heartbeat"></i>
      Channels
    </a>
  </div>
</div>
